/* 5. BASELINE
========================================*/

/*

	# Section Notes

	Notes...

*/

/* 5.1. Title
----------------------------------------*/

html {}

*,
*:before,
*:after {}

body,
#body {
	font-family: var(--font-family);
}

#email {

	width: 100% !important;
	max-width: 600px !important;

}

/* 5.2. Block Elements
----------------------------------------*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {}

h1, .h1 {

	margin: 0;
	margin-bottom: 19px;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
	color: var(--color-blue);

}

h2, .h2 {

	margin: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 18px;
	color: var(--color-blue);

}

h3, .h3 {

	margin: 0;
	color: var(--color-blue);

}

h4, .h4 {

	margin: 0;
	color: var(--color-blue);

}

h5, .h5 {

	margin: 0;
	color: var(--color-blue);

}

h6, .h6 {

	margin: 0;
	color: var(--color-blue);

}

p, .p {

	margin: 0;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 18px;
	color: var(--color-gray);

}

ol {}

	ol li {}

ul {}

	ol li {}

dl {}

	dt {}

	dd {}

table {}

	thead {}

	tbody {}

	tfoot {}

		tr {}

			th {}

			td {}

pre,
.pre {}

article,
.article {}

caption,
.caption {}

figure,
.figure {}

	figcaption,
	.figcaption {}

blockquote,
.blockquote {}

hr,
.hr {}

div {}

/* 5.3. Inline Elements
----------------------------------------*/

em, i,
.italic { font-style: italic; }

b,
strong,
.bold { font-weight: bold; }

a,
.link {

	color: var(--color-blue);

}

	a:link,
	.link:link {}

	a:hover,
	.link:hover {}

	a:focus,
	.link:focus {}

abbr,
acronym {}

	abbr[title],
	acronym[title] {}

img,
.img {}

svg,
.svg {}

iframe,
.iframe {}

code {}

sub {}

sup {}

ins {}

mark {}

span {}