/* 01. CUSTOM PROPERTIES
========================================*/

/*

	# Note

	Changing values here will change them automatically throughout the page.

*/

:root {
	
	/* Baseline Colors */

	--color-white: #ffffff;
	--color-black: #000000;

	/* Gray Colors */

	--color-gray-10: #e6e6e6;
	--color-gray-20: #cbcbcb;
	--color-gray-30: #b4b4b4;
	--color-gray-40: #9a9a9a;
	--color-gray-50: #808080;
	--color-gray-60: #656565;
	--color-gray-70: #4d4d4d;
	--color-gray-80: #333333;
	--color-gray-90: #191919;

	/* Branding Colors */

	--color-blue: #0078ae;
	--color-green: #00b85c;
	--color-light-green: #a7cf57;
	--color-teal: #00b7a2;
	--color-red: #ff0000;
	--color-gray: #3f3f3f;

	/* Borders */

	--border-thin: 1px;
	--border-thick: 4px;

	/* Horizontal Rules */

	--horizontal-rule-thin: 1px;
	--horizontal-rule-thick: 4px;

}