/* 3. UTILITIES
========================================*/

/*

	# Section Notes

	Notes...

*/

/* 2.1. Colors
----------------------------------------*/

.color-white { color: #ffffff; }
.background-color-white { background-color: #ffffff; }
.border-color-white { border-color: #ffffff; }

.color-black { color: #000000; }
.background-color-black { background-color: #000000; }
.border-color-black { border-color: #000000; }

.color-gray-10 { color: #e6e6e6; }
.background-color-gray-10 { background-color: #e6e6e6; }
.border-color-gray-10 { border-color: #e6e6e6; }

.color-gray-20 { color: #cbcbcb; }
.background-color-gray-20 { color: #cbcbcb; }
.border-color-gray-20 { border-color: #cbcbcb; }

.color-gray-30 { color: #b4b4b4; }
.background-color-gray-30 { background-color: #b4b4b4; }
.border-color-gray-30 { border-color: #b4b4b4; }

.color-gray-40 { color: #9a9a9a; }
.background-color-gray-40 { background-color: #9a9a9a; }
.border-color-gray-40 { border-color: #9a9a9a; }

.color-gray-50 { color: #808080; }
.background-color-gray-50 { background-color: #808080; }
.border-color-gray-50 { border-color: #808080; }

.color-gray-60 { color: #656565; }
.background-color-gray-60 { background-color: #656565; }
.border-color-gray-60 { border-color: #656565; }

.color-gray-70 { color: #4d4d4d; }
.background-color-gray-70 { background-color: #4d4d4d; }
.border-color-gray-70 { border-color: #4d4d4d; }

.color-gray-80 { color: #333333; }
.background-color-gray-80 { background-color: #333333; }
.border-color-gray-80 { border-color: #333333; }

.color-gray-90 { color: #191919; }
.background-color-gray-90 { background-color: #191919; }
.border-color-gray-90 { border-color: #191919; }

/* 2.2. Branding Colors
----------------------------------------*/

.color-blue { color: #0078ae; }
.background-color-blue { background-color: #0078ae; }

.color-green { color: #00b85c; }
.background-color-green { background-color: #00b85c; }

.color-light-green { color: #a7cf57; }
.background-color-light-green { background-color: #a7cf57; }

.color-gray { color: #3f3f3f; }
.background-color-gray { background-color: #3f3f3f; }

.color-teal { color: #00b7a2; }
.background-color-teal { background-color: #00b7a2; }

.color-red { color: #ff0000; }
.background-color-red { background-color: #ff0000; }

/* 2.3. Borders
----------------------------------------*/

.border-thin { border-width: 1px; }

.border-thick { border-width: 4px; }

/* Some email clients add space below images by default, which is problematic if you're tiling images. Attach the `image-remove-space` class to remove the space. Be aware that, by setting images to block-level elements, you can't align them without resorting to the `float` or `position` CSS properties, which aren't widely supported. */

.image-remove-space { display: block; }

/* Notes... */

.all-caps { text-transform: uppercase; }

/* Notes... */

.p--last { margin: 0; }